.container {
    width: 100%;
    text-align: center;
}
.bar {
    border-bottom: 1px solid black;
    padding-top: 20px;
}
.back {
    position: absolute;
    left: 50px;
    top: 20px;
    font-weight: bold;
    font-size: 20px;
}
.barTitle {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.chatBox {  
    position:relative;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%; 
    padding:10px; 
    border-bottom:1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid;
    background-color:white;
    height: 10cm;
    overflow: scroll;
}
.friendsMessage {
    padding-left: 10px;
    text-align: start;
    margin-right: 60%;
    background-color: lightgrey;
    border-radius: 40px;
}
.myMessage {
    padding-right: 10px;
    text-align: end;
    margin-left: 60%;
    background-color: bisque;
    border-radius: 40px;
}
.sendContainer {
    position: absolute;
    left: 25%;
    bottom: 0;
    flex-direction: row;
}
.input {
    width: 500px;
    height: 20px;
    font-size: 20px;
}